
%h1 new fabric
%form{:method => "post", :action => "/fabrics/create"}
  %label Fabric Title
  %br

  %input{:name => "fabric_title", :type => "text", :value => ""}
  %br

  %label Image
  %br
  %input{:name => "fabric_image", :type => "text", :value => ""}
  %br
  %label Metres
  %br

  %input{:name => "fabric_metres", :type => "text", :value => ""}
  %br
  %label Source
  %br

  %input{:name => "fabric_metres", :type => "text", :value => ""}
  %br
  %label Cost/Metre
  %br

  %input{:name => "fabric_metres", :type => "text", :value => ""}
  %br
  %input{:type => 'submit'}
